.cartRate{
    width: 26.3125rem;
    height: 28.875rem;
    background-color: white;
    position: fixed;
    left: 62.6875rem;
    /* top: 152px; */
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: fit-content;
    font-size: 1.5rem;
}

.cartRate .container{
    width: 100%;
}

.second{
    font-weight: 700;
    float: right;
}

.cartRate .container .row{
    margin-bottom: 1.5rem;
}

.dashed{
    border: 1px dashed #E6E7E7;
    border-width: 4px 0 0 0;
}

.cartRate button{
    width: 100%;
}
