.cartRate{
    width: 32%;
    height: 28.875rem;
    background-color: white;
    position: fixed;
    right: 6.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: fit-content;
    font-size: 1.5rem;
}

.cartRate .container{
    width: 100%;
}

.cartRate .container .second{
    font-weight: 700;
    text-align: right;
}

.cartRate .container .row{
    margin-bottom: 1.5rem;
}

.dashed{
    border: 1px dashed #E6E7E7;
    border-width: 4px 0 0 0;
}

.cartRate button{
    width: 100%;
}


/* @media only screen and (max-width:2560px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:2180px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1990px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1840px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1696px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1548px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1474px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1245px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:1110px) {
    .cartRate{
      font-size: 100%;
    }
  }
  @media only screen and (max-width:986px) {
    .cartRate{
      font-size: 100%;
    }
  } */
  
@media only screen and (max-width:768px){
    .cartRate{
        position: relative;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

@media only screen and (max-width:400px){
    .cartRate{
        width: 100%;

    }
}
