.prodDisplay{
    width: 54.625rem;
    height: 24.25rem;
    background: white;
    padding: 1.5rem;
    margin: 1rem;
    margin-left: 0;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
}

.siderow{
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 1rem;
    padding: 0.5rem;
}

.siderow::-webkit-scrollbar {
  width: 4px;
}
.siderow::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.2); 
}
.siderow::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.5); 
}

.siderow img{
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.prodImg img{
    width: 46.4375rem;
    height: 21.25rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width:876px){
    .prodDisplay{
        width: 100%;
    }
}