.page h2{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: -10px;
    padding-top: 10px;
    background-color: var(--secondary);
    display: block;
    width: 100vw;
}

.page .fixed{
    position: fixed;

}

.page h2 svg{
    margin-top: -4px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.page .filterBlock{
    width: 24.8125rem;
    /* height: 44.1875rem; */
    height: fit-content;
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.page .filterBlock h3{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.page .filterBlock div h4{
    /* display: block; */
    font-size: 1.25rem;
    font-weight: 600;
}

.page .filterBlock div label{
    display: block;
    font-size: 1.25rem;
    width: fit-content;
}
.page .prodsBlock{
    margin-left: 27.3125rem;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1.5rem;
}

@media only screen and (max-width:768px){
    .filterBlock {
        display: none;
        visibility: hidden;
    }
    .prodsBlock{
        margin-left: 0 !important;
        align-items: center;
        justify-content: center;
    }
}