.card{
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    height: fit-content;
    flex-wrap: wrap;
    min-width: 23.75rem;
}

.card img{
    border-radius: 1rem;
    flex:1;
    width: 29.625rem;
    min-width: 20.6875rem;

    height: 24rem;
}
.card p, .card b{
    flex: 3;
    margin-left: 1.5rem;
    line-height: 150%;
    font-size: 1rem;
    letter-spacing: 1.5px;
}
.card p{
    min-width: 20.6875rem;
}
.card b{
    margin: 0;
}


.Aim h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.Aim span{
    font-size: 2.5rem !important;
}

@media only screen and (max-width:766px) {
    .card img{
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width:680px) {
    .card{
        flex-direction: column;
    }
}

@media only screen and (max-width:380px) {
    .card img{
        width: 26rem;
    }
    .card p{
        margin-left: 0.5rem;
    }
}