.topblock{
    /* background-color: #E9F2F1; */
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 34.0625rem;
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius: 1rem;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
}

.textDiv{
    position: relative;
    top: 42.5%;
    transform: translate(0,-50%);
    width: 60%;
    left: 4rem;

    /* transform: translate(-50%); */
}

.topblock h1{
    font-size: 3.5rem;
    font-weight: 700;
    height: fit-content;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width:400px){
    .topblock h1{
        font-size: 3.25rem;
    }
}