.head{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.empty{
    margin-left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}

.empty p{
    font-size: 1rem;
    margin-bottom: 3rem;
}

.empty img{
    margin-top: 3rem;
    width: 18.03125rem;
    height: 15.6875rem;
}