.card{    
    width: 25.5rem;
    height: 22.4375rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    padding: 2.5rem 2rem;
    font-size: 1rem;
}

.circle{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-bottom: 1.5rem;
    background: rgba(233, 242, 241, 0.7);
}

.card h4{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.circle img{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}

.card p{
    color: var(--empText);
    font-size: 1rem;
}