.card{
    padding: 1.5rem 1.5rem 1rem;
    width: 61rem;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 21.0625rem;
}

.card h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.capsule{
    background: rgba(233, 242, 241, 0.7);
    border-radius: 1.875rem;
    width: 6.375rem;
    /* height: 2rem; */
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
    color: var(--primary);
}

.price{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
}

.card p{
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.card button{
    padding: 0rem;
    height: 3.5rem;
    width: 100%;
    font-size: 1.25rem;
    border: 1px solid #E6E7E7;
    border-radius: 0.5rem;
    font-weight: 600;
}

.card svg{
    color: #F3C117;
    cursor: pointer;
}