.card{
    width: 54.625rem;
    height: 11.25rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    gap: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}

.card img{
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.two{
    flex: 3;
}

.card h3{
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
}

.card p{
    float: right;
    font-weight: 700;
    font-size: 1.5rem;
}

.plusMinus{
    width: 7.6875rem;
    height: 2.625rem;
    background: #FFFFFF;
    padding: 0.5rem 0.5rem;
    border: 1px solid #E6E7E7;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    font-weight: 800;
    font-size: 1.375rem;
}

.plusMinus button{
    background: none;
    border: none;
}