.navbar{
    height: 5.5rem;
    font-size: 1.25rem;
    z-index: 100;
    position:fixed;
    top: 0;
    width: 100%;
    border: 1px black solid;
    padding-left: 0;
    /* margin-right: 4.5rem; */
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    margin-left: -10px;
}
.search{
    width: 33rem;
    height: 3.5rem;
    border-radius: 0rem 0.5rem 0.5rem 0;
    padding-left: 0.5rem;
}
.search::placeholder{
    color: var(--empText);
}
.input-group-prepend, .input-group-text {
    background: white;
    color: var(--empText);
    border: none;
    height: 3.5rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    padding-right: 0;
}
.search:focus{
    box-shadow: none;
}
.navbar .prim-btn{
    width: 7.625rem;
    height: 3.4375rem;
    padding: 0.6rem 1.5rem;
    font-size: 1.25rem;
}

.nav-link{
    font-size: 1.25rem;
}