.navbar{
    height: 5.5rem;
    font-size: 1.25rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 800;
}
.search{
    width: 33rem;
}
.search:focus{
    box-shadow: none;
}
.navbar .prim-btn{
    width: 7.625rem;
    height: 3.4375rem;
    padding: 0.6rem 1.5rem;
    font-size: 1.25rem;
}