.prodDetails{
    width: 26.3125rem;
    height: 28.875rem;
    background-color: white;
    position: fixed;
    left: 62.6875rem;
    /* top: 152px; */
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: fit-content;
}

.prodDetails h3{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.prodDetails .stars{
    color: var(--empText);
    font-size: 1.25rem;
    font-weight: 500;
}

.prodDetails .stars svg{
    color: #F3C117;
}

.prodDetails h4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.prodDetails button{
    width: 100%;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    margin-bottom: 0.5rem;
}

.prodDetails .info{
    font-size: 1rem;
    color: var(--empText);
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

